.botones, footer .navbar #navbarNav .navbar-nav .nav-link .nav-item, header .navbar #navbarNav .navbar-nav .nav-link .nav-item, form #boton {
  display: flex;
  background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364);
  border-radius: 20px;
  padding: 5px;
  width: 115px;
  justify-content: center;
  align-content: center;
  color: #fdf3f4; }

.botonesHover, footer .navbar #navbarNav .navbar-nav .nav-link .nav-item:hover, header .navbar #navbarNav .navbar-nav .nav-link .nav-item:hover, form #boton:hover {
  display: flex;
  background-image: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  padding: 5px; }

#rowIndex {
  justify-content: space-evenly; }
  #rowIndex .col-md-3 {
    border: 1px solid black;
    background-color: #fdf3f4;
    font-family: 'Dancing Script', cursive;
    font-size: calc(10px + 1vw); }

#rowImg {
  margin: 10px; }

/*-------------- MEDIA QUERY --------------*/
/*MOBILE*/
@media only screen and (max-width: 768px) {
  #grillaIndex {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "i1" "i2" "i3" "i4"; }
  #carouselExampleFade {
    height: 300px !important;
    max-width: 768px !important;
    margin-top: 10px !important; }
    #carouselExampleFade .carousel-item {
      height: 300px !important;
      width: 768px !important; }
      #carouselExampleFade .carousel-item img {
        height: 100%;
        width: 100%; } }

/*TABLET*/
@media only screen and (min-width: 768px) {
  /*index*/
  #grillaIndex {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr fr;
    grid-template-areas: "i1 i1 i1" "i2 i3 i4"; }
  #carouselExampleFade {
    height: 500px !important;
    width: 768px !important;
    margin-top: 10px !important; }
    #carouselExampleFade .carousel-item {
      height: 500px !important;
      width: 768px !important; }
      #carouselExampleFade .carousel-item img {
        height: 100%;
        width: 100%; } }

/*PC*/
@media only screen and (min-width: 1024px) {
  /*index*/
  #grillaIndex {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "i1 i1 i1" "i2 i3 i4"; }
  #carouselExampleFade {
    height: 700px !important;
    width: 1200px !important;
    margin-top: 10px !important; }
    #carouselExampleFade .carousel-item {
      height: 700px !important;
      width: 1200px !important; }
      #carouselExampleFade .carousel-item img {
        height: 100%;
        width: 100%; } }

footer {
  background-size: cover;
  text-align: center;
  background-image: linear-gradient(to right, #fdf3f4, #e0c7a1);
  padding: 7px;
  opacity: 0.9 !important;
  /*nav*/ }
  footer img {
    height: 45px;
    margin: 5px; }
  footer #RRSS {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
    footer #RRSS a {
      margin: 10px; }
      footer #RRSS a:hover {
        transform: scale(1.5, 1.5);
        transition: 1s; }
  footer .navbar {
    background-image: linear-gradient(to right, #fdf3f4, #e0c7a1);
    display: flex;
    justify-content: flex-end !important;
    width: 100%; }
    footer .navbar #navbarNav {
      display: flex;
      justify-content: center !important;
      /*ul*/ }
      footer .navbar #navbarNav .navbar-nav {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 80%;
        justify-content: space-around; }
        footer .navbar #navbarNav .navbar-nav .nav-link {
          text-decoration: none;
          color: #fdf3f4;
          border-radius: 10px; }
          footer .navbar #navbarNav .navbar-nav .nav-link .nav-item:hover {
            transform: scale(1.2, 1.2);
            /*agranda el boton 1.2*/
            transition: 1s; }

/*-------------- MEDIA QUERY --------------*/
/*MOBILE*/
@media only screen and (max-width: 768px) {
  /*footer*/
  footer ul {
    flex-flow: column wrap; }
  footer a {
    margin: 1px; }
  div#RRSS {
    flex-flow: column wrap; } }

/*TABLET*/
/*PC*/
header {
  display: flex;
  position: fixed;
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(to right, #fdf3f4, #e0c7a1);
  z-index: 2;
  opacity: 0.9 !important;
  /*nav*/ }
  header #logo {
    margin: 10px 0px 0px 10px; }
  header .container-fluid {
    justify-content: flex-end !important; }
  header .navbar {
    background-image: linear-gradient(to right, #fdf3f4, #e0c7a1);
    display: flex;
    justify-content: flex-end !important;
    width: 100%; }
    header .navbar #navbarNav {
      justify-content: center;
      /*ul*/ }
      header .navbar #navbarNav .navbar-nav {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 80%;
        justify-content: space-around; }
        header .navbar #navbarNav .navbar-nav .nav-link {
          text-decoration: none;
          color: #fdf3f4;
          border-radius: 10px; }
          header .navbar #navbarNav .navbar-nav .nav-link .nav-item:hover {
            transform: scale(1.2, 1.2);
            /*agranda el boton 1.2*/
            transition: 1s; }

/*-------------- MEDIA QUERY --------------*/
/*MOBILE*/
@media only screen and (max-width: 768px) {
  /*header*/
  ul {
    flex-flow: column wrap; } }

/*TABLET*/
/*PC*/
@media only screen and (min-width: 1024px) {
  /*header*/
  ul {
    flex-flow: row wrap; } }

form {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 20px;
  margin: 50px;
  background-color: transparent;
  width: 750px;
  align-self: center; }
  form legend {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px; }
  form #boton {
    border: 1px solid black;
    margin: 5px 5px 5px 5px;
    border-radius: 15px;
    width: auto; }
    form #boton:hover {
      border: 1px solid black;
      border-radius: 15px; }
  form #exampleFormControlTextarea1 {
    height: 180px;
    resize: none; }
  form .mb-3 input:focus {
    width: 101%;
    transition: 1s;
    background-image: linear-gradient(to right, white, #fdf3f4, #e0c7a1); }
  form .mb-3 .form-control:focus {
    width: 101%;
    transition: 1s;
    background-image: linear-gradient(to right, white, #fdf3f4, #e0c7a1); }

/*-------------- MEDIA QUERY --------------*/
/*MOBILE*/
@media only screen and (max-width: 768px) {
  form {
    margin: 100px 0px 0px 0px;
    width: 300px; }
  form input,
  textarea {
    width: 250px;
    margin-top: 15px; } }

/*TABLET*/
/*PC*/
@media only screen and (min-width: 1024px) {
  /*contacto*/
  form input,
  textarea {
    width: 300px;
    margin-top: 10px; } }

#grillaCatalogo {
  font-family: cursive;
  display: grid;
  justify-content: center;
  align-content: center;
  padding-left: 50px;
  padding-right: 50px; }
  #grillaCatalogo div {
    display: flex;
    flex-flow: row wrap;
    width: 275px;
    height: 300px;
    justify-content: center;
    background-color: palevioletred; }
    #grillaCatalogo div img {
      width: 275px;
      height: 250px; }

/*-------------- MEDIA QUERY --------------*/
/*MOBILE*/
@media only screen and (max-width: 768px) {
  /*catalogo*/
  #grillaCatalogo {
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px; } }

/*TABLET*/
@media only screen and (min-width: 768px) {
  /*catalogo*/
  #grillaCatalogo {
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px; } }

/*PC*/
@media only screen and (min-width: 1024px) {
  /*catalogo*/
  #grillaCatalogo {
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px; } }

#rowNosotros {
  justify-content: space-evenly; }
  #rowNosotros .col-md-2 {
    border: 1px solid black;
    font-family: 'Dancing Script', cursive;
    font-size: calc(4px + 1vw);
    background-color: #fdf3f4; }

#grillaTaller {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-left: 80px;
  padding-right: 80px; }
  #grillaTaller div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    #grillaTaller div img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    #grillaTaller div:hover {
      transform: scale(1.05, 1.05);
      transition: all 1s;
      filter: brightness(1.3);
      filter: opacity(0.9); }

#a1 {
  grid-area: a1; }

#a2 {
  grid-area: a2; }

#a3 {
  grid-area: a3; }

#a4 {
  grid-area: a4; }

#a5 {
  grid-area: a5; }

#a6 {
  grid-area: a6; }

#a7 {
  grid-area: a7; }

#a8 {
  grid-area: a8; }

#a9 {
  grid-area: a9; }

#a10 {
  grid-area: a10; }

#a11 {
  grid-area: a11; }

/*-------------- MEDIA QUERY --------------*/
/*MOBILE*/
@media only screen and (max-width: 768px) {
  #grillaTaller {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9" "a10" "a11"; } }

/*TABLET*/
@media only screen and (min-width: 768px) {
  #grillaTaller {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9" "a10" "a11"; } }

/*PC*/
@media only screen and (min-width: 1024px) {
  /*taller*/
  #grillaTaller {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas: "a1 a2 a3 a4" "a5 a6 a7 a8" "a9 a10 a11 a12 "; } }

* {
  margin: 0;
  padding: 0;
  border: 0; }

.titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 50px !important; }

body {
  background-image: linear-gradient(to right, #fdf3f4, #e0c7a1); }
  body main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    padding: 8rem 0.5rem 10rem 0.5rem;
    width: auto;
    align-items: center; }
    body main #iconoWhatsapp {
      display: flex;
      position: fixed;
      width: 70px;
      height: 70px;
      right: 20px;
      bottom: 80px;
      margin: 10px;
      z-index: 2; }
    body main #iconoWhatsapp img:hover {
      transform: rotate(360deg);
      transition: 1s; }

/*-------------- MEDIA QUERY --------------*/
/*CELULAR*/
@media only screen and (max-width: 768px) {
  h1 {
    padding: 75px 50px 50px 50px; } }

/*TABLET*/
/*PC*/
@media only screen and (min-width: 1024px) {
  h1 {
    padding: 50px; } }
