*{
    margin: 0;
    padding: 0;
    border: 0;
}
/*----------- INDEX -----------*/

#grillaIndex{
display: grid;
padding: 10px;
font-size: 30px;
row-gap: 10px;
column-gap: 10px;
}
#grillaIndex section{
    border: 1px solid black;
    background-color: #9e6e7247;
}
#i1{ grid-area: i1;}
#i2{ grid-area: i2;}
#i3{ grid-area: i3;}
#i4{ grid-area: i4;}

/*----------- HEADER -----------*/
header a {
    margin: 1px;
}
header{
    display: flex;
    position: fixed;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(to right, #fdf3f4 , #e0c7a1);
}
nav{
    display: flex;
    justify-content:flex-end ;
    width: 100%; 
}
ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    
}
li{
    display: flex;
    border: 1px solid black;
    margin: 0px 0px 0px 0px;
    background-image: linear-gradient(to right, #0F2027 , #203A43,#2C5364);
    border-radius: 15px;
    padding: 5px;
    width: 103.75px;
    justify-content: center;
    align-content: center;
}

li:hover {
    display: flex;
    border: 1px solid black;
    margin: 0px 0px 0px 0px;
    background-image: linear-gradient(to right,#2C5364, #203A43,#0F2027);
    border-radius: 15px;
    padding: 5px;
    width: 103.75px;
    justify-content: center;
    align-content: center;
    color: white;
    transform: scale(1.2,1.2);

}

a{
    text-decoration: none;
    color: #fdf3f4;
    border-radius: 10px;
    margin: 10px;
}  

/*----------- FOOTER ----------- */
footer a{
    margin: 10px;
}
footer a:hover{
    transform: scale(1.2,1.2);
}
footer{
    background-size: cover;
    text-align: center;
    background-image: linear-gradient(to right, #fdf3f4 , #e0c7a1);
    padding: 7px;

}
footer img{
    height: 35px;
    margin: 5px;
}
div#RRSS {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


footer nav{
    display: flex;
    justify-content:flex-end ;
    width: 100%; 
}
footer ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    
}


main{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    padding: 7rem 0.5rem 10rem 0.5rem;
    width: auto;
    align-items: center;
}
/*----------- NOSOTROS ----------- */

#grillaNosotros{
    display: grid;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    
}
#grillaNosotros section{
    border: 1px solid black;
    background-color: #fdf3f4;
}
body{
    background-image: linear-gradient(to right, #fdf3f4 , #e0c7a1);
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#iconoWhatsapp{
    display: flex;
    position: fixed;
    width: 63px;
    height: 63px;
    right:20px;
    bottom:20px;
}
#iconoWhatsapp img:hover {
    transform: scale(2,2);
    transform: rotate(360deg);
    transition: all 1s;
}



/*-------------- CONTACTO --------------*/

form {
  display: flex;
  border: 1px solid black;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 20px;
  margin: 50px;
  background-color: #fdf3f4 ;
  width: 350px;
  align-self: center;

}


legend{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

#boton {
	display: flex;
	border: 1px solid black;
	margin: 5px 5px 5px 5px;
	background-image: linear-gradient(to right, #0F2027 , #203A43,#2C5364);
	border-radius: 15px;
	padding: 5px;
	width: auto;
	justify-content: center;
	align-content: center;
    color: #fdf3f4;
}

#boton:hover {
    display: flex;
    border: 1px solid black;
    margin: 5px 5px 5px 5px;
    background-image: linear-gradient(to right,#2C5364, #203A43,#0F2027);
    border-radius: 15px;
    padding: 5px;
    width: auto;
    justify-content: center;
    align-content: center;
  }
  /* -------------- CATALOGO --------------*/
#grillaCatalogo{
    font-family: cursive;
    display: grid;
    justify-items: center;  
    padding-left: 80px;
    padding-right: 80px;

}

#grillaCatalogo div{
    display: flex;
    flex-flow: row wrap;
    width: 200px;
    height: 225px;
    justify-content: center;
    background-color: palevioletred;


}

#grillaCatalogo div img{
    width: 200px;
    height: 200px;
}

/* -------------- TALLER --------------*/
#grillaTaller{
    display: grid;
    justify-content: center;
    align-content: center;
    

}

#grillaTaller div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#grillaTaller div:hover{
    transform: scale(1.05,1.05);
    transition: all 1s;
    filter:brightness(1.3);
    filter: opacity(0.9);
}

#grillaTaller div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#a1{ grid-area: a1;}
#a2{ grid-area: a2;}
#a3{ grid-area: a3;}
#a4{ grid-area: a4;}
#a5{ grid-area: a5;}
#a6{ grid-area: a6;}
#a7{ grid-area: a7;}
#a8{ grid-area: a8;}
#a9{ grid-area: a9;}
#a10{ grid-area: a10;}
#a11{ grid-area: a11;}
/*index*/
section{
    border: 1px solid black;
}

/*-------------- MEDIA QUERY --------------*/
/*CELULAR*/
@media only screen and (max-width:768px){
    h1 {
        font-size: 40px;
        padding: 75px 50px 50px 50px;
    }
    /*contacto*/
    form {
        margin: 100px 0px 0px 0px;
        width: 300px;
    }
    form input, textarea {
    width: 250px;
    margin-top: 15px;
}
    /*header*/
    ul{
        flex-flow: column wrap;
    }
    /*footer*/
    footer ul{
        flex-flow: column wrap;   
    }
    footer a{
        margin: 1px;
    }
    div#RRSS{
        flex-flow: column wrap;
    }
    /*taller*/
    #grillaTaller{
                    grid-template-columns: 1fr ;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                    row-gap: 10px;
                    column-gap: 10px;
                    grid-template-areas: "a1"
                                         "a2"
                                         "a3"
                                         "a4"
                                         "a5"
                                         "a6"
                                         "a7"
                                         "a8"
                                         "a9"
                                         "a10"
                                         "a11";
                    }  
    /*catalogo*/ 
    #grillaCatalogo{
                        justify-content: center;
                        align-content: center;
                        grid-template-columns:1fr ;
                        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                        column-gap: 10px;
                        row-gap: 25px;  
                    
                    }
    /*nosotros*/
    #grillaNosotros{
                        grid-template-rows: 1fr 1fr 1fr 1fr;
                        grid-template-columns: 1fr;
                    }
    #grillaIndex{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "i1"
                             "i2"
                             "i3"
                             "i4"    ;
    }
                    
}

/*TABLET*/
@media only screen and (min-width:768px){
    /*taller*/
    #grillaTaller{
                    grid-template-columns: 1fr ;
                    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                    row-gap: 10px;
                    column-gap: 10px;
                    grid-template-areas:"a1"
                                        "a2"
                                        "a3"
                                        "a4"
                                        "a5"
                                        "a6"
                                        "a7"
                                        "a8"
                                        "a9"
                                        "a10"
                                        "a11";
                 }  
    /*catalogo*/
    #grillaCatalogo{
                    justify-content: center;
                    align-content: center;
                    grid-template-columns:1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr ;
                    column-gap: 10px;
                    row-gap: 25px;  
                
                }
    /*nosotros*/
    #grillaNosotros{
                    grid-template-rows: 1fr 1fr ;
                    grid-template-columns: 1fr 1fr;
                }
    /*index*/
        #grillaIndex{
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr fr;
        grid-template-areas: "i1 i1 i1"
                             "i2 i3 i4"    ;

    }


}

/*PC*/
@media only screen and (min-width:1024px){
    h1 {
        font-size: 50px;
        padding: 50px;
    }
    /*header*/
    ul{
        flex-flow: row wrap;
        
    }
    /*taller*/
    #grillaTaller{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    row-gap: 10px;
                    column-gap: 10px;
                    grid-template-areas:"a1 a2 a3 a4"
                                        "a5 a6 a7 a8"
                                        "a9 a10 a11 a12 "
                 }
    /*catalogo*/
    #grillaCatalogo{
        justify-content: center;
        align-content: center;
        grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr ;
        column-gap: 10px;
        row-gap: 25px;  
    
    }
    /*nosotros*/
    #grillaNosotros{
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    /*contacto*/
    form input, textarea {
        width: 300px;
        margin-top: 10px;
      }
      /*index*/
      #grillaIndex{
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "i1 i1 i1"
                             "i2 i3 i4"    ;

    }
      
}