#grillaCatalogo {
    font-family: cursive;
    @include contenedor(grid, center, center, 50px, 50px);

    div {
        display: flex;
        flex-flow: row wrap;
        width: 275px;
        height: 300px;
        justify-content: center;
        background-color: palevioletred;

        img {
            width: 275px;
            height: 250px;
        }
    }
}

/*-------------- MEDIA QUERY --------------*/
/*MOBILE*/

@media only screen and (max-width:768px) {

    /*catalogo*/
    #grillaCatalogo {
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;

    }


}

/*TABLET*/
@media only screen and (min-width:768px) {

    /*catalogo*/
    #grillaCatalogo {
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;

    }

}

/*PC*/
@media only screen and (min-width:1024px) {

    /*catalogo*/
    #grillaCatalogo {
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;

    }

}