footer {
    background-size: cover;
    text-align: center;
    background-image: $coloresFondo;
    padding: 7px;  
    opacity: 0.9 !important; 
    img{
        height: 45px;
        margin: 5px;
    }
    #RRSS {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        a{
            margin: 10px;
            &:hover{
                transform: scale(1.5,1.5);
                transition: 1s;
            }
        }
        
    }
    
    /*nav*/
    .navbar{
        background-image: $coloresFondo;
        display: flex;
        justify-content:flex-end !important ;
        width: 100%; 

        #navbarNav{
            display: flex;
            justify-content: center !important;
                /*ul*/
            .navbar-nav{
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                width: 80%;
                justify-content: space-around;
                .nav-link{
                    text-decoration: none;
                    color: #fdf3f4;
                    border-radius: 10px;
                    .nav-item{
                        @extend .botones; 
                        &:hover {
                            @extend .botonesHover;
                            transform: scale(1.2,1.2);/*agranda el boton 1.2*/
                            transition: 1s;
                        
                        }
                    }
                    
                    
                }  
            }
        
        }
    }

}

/*-------------- MEDIA QUERY --------------*/
/*MOBILE*/

@media only screen and (max-width:768px){
    /*footer*/
    footer ul{
        flex-flow: column wrap;   
    }
    footer a{
        margin: 1px;
    }
    div#RRSS{
        flex-flow: column wrap;
    }


}

/*TABLET*/
@media only screen and (min-width:768px){


}

/*PC*/
@media only screen and (min-width:1024px){


}


