#rowIndex {
    justify-content: space-between;
    color: rgb(83, 83, 83);

    .col-md-3 {
        border: 1px solid black;
        background-color: $colorCol;
        font-family: 'Permanent Marker', cursive;
        font-size: calc(10px + 1vw);
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;

        &:hover {
            transition: .1s linear;
            transform: scale(1.1, 1.1);
            font-weight: bold;
        }
    }

    #colImg {
        padding: 10px 0 10px 0;

        #rowImg {
            height: 100%;
            width: 100%;
        }
    }

}


#indexText {
    p {
        font-size: 30px;
        font-family: cursive;
    }

}





/*-------------- MEDIA QUERY --------------*/
/*MOBILE*/

@media only screen and (max-width:768px) {
    #grillaIndex {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "i1"
            "i2"
            "i3"
            "i4";
    }

    #carouselExampleFade {
        height: 300px !important;
        max-width: 768px !important;
        margin-top: 10px !important;

        .carousel-item {
            height: 300px !important;
            width: 768px !important;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

/*TABLET*/
@media only screen and (min-width:768px) {

    /*index*/
    #grillaIndex {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr fr;
        grid-template-areas: "i1 i1 i1"
            "i2 i3 i4";

    }

    #carouselExampleFade {
        height: 500px !important;
        width: 768px !important;
        margin-top: 10px !important;

        .carousel-item {
            height: 500px !important;
            width: 768px !important;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

}

/*PC*/
@media only screen and (min-width:1024px) {

    /*index*/
    #grillaIndex {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "i1 i1 i1"
            "i2 i3 i4";

    }

    #carouselExampleFade {
        height: 900px;
        min-width: 1024px;
        max-width: 1200px;
        margin-top: 10px;

        .carousel-inner {

            .carousel-item {
                img {
                    height: inherit;
                    min-width: 1024px;
                    max-width: inherit;
                }

            }
        }

    }

}