#rowNosotros{
    justify-content: space-evenly;

    .col-md-2 {
        border: 1px solid black;
        font-family: 'Dancing Script', cursive;
        font-size: calc(4px + 1vw);
        background-color: $colorCol;
    }
}
