.col-md-3 {
    border: 1px solid black;
    font-family: 'Dancing Script', cursive;
    font-size: calc( 1px + 2vw);
    background-color: $colorCol;

}
#grillaNosotros{
    display: grid;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    section{
        border: 1px solid black;
        background-color: #fdf3f4;
    }
}

/*-------------- MEDIA QUERY --------------*/
/*MOBILE*/

@media only screen and (max-width:768px){
    /*nosotros*/
    #grillaNosotros{
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }


}

/*TABLET*/
@media only screen and (min-width:768px){
    /*nosotros*/
    #grillaNosotros{
        grid-template-rows: 1fr 1fr ;
        grid-template-columns: 1fr 1fr;
    }

}

/*PC*/
@media only screen and (min-width:1024px){
   /*nosotros*/
   #grillaNosotros{
    grid-template-rows: 1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

}
