#rowNosotros{
    justify-content: space-evenly;  
.card{
    transition: .2s linear;
    &:hover{
        transform: scale(1.15, 1.15);
        font-weight: bold;
    }

}

    .card-body{
        background-color: $colorCol ;
    

    }
    .card-text{
        font-family: 'Dancing Script', cursive ;
    }
    
}

@media only screen and (max-width:768px) {
.card{
    width: inherit !important;
}

}




