#grillaTaller{
    display: grid;
    justify-content: center;
    align-content: center;
    div{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }  
    div:hover{
        transform: scale(1.05,1.05);
        transition: all 1s;
        filter:brightness(1.3);
        filter: opacity(0.9);
    }

}
#a1{ grid-area: a1;}
#a2{ grid-area: a2;}
#a3{ grid-area: a3;}
#a4{ grid-area: a4;}
#a5{ grid-area: a5;}
#a6{ grid-area: a6;}
#a7{ grid-area: a7;}
#a8{ grid-area: a8;}
#a9{ grid-area: a9;}
#a10{ grid-area: a10;}
#a11{ grid-area: a11;}

/*-------------- MEDIA QUERY --------------*/
/*MOBILE*/

@media only screen and (max-width:768px){
    #grillaTaller{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-areas: "a1"
                             "a2"
                             "a3"
                             "a4"
                             "a5"
                             "a6"
                             "a7"
                             "a8"
                             "a9"
                             "a10"
                             "a11";
        } 


}

/*TABLET*/
@media only screen and (min-width:768px){
    #grillaTaller{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-areas:"a1"
                            "a2"
                            "a3"
                            "a4"
                            "a5"
                            "a6"
                            "a7"
                            "a8"
                            "a9"
                            "a10"
                            "a11";
     } 

}

/*PC*/
@media only screen and (min-width:1024px){
    /*taller*/
    #grillaTaller{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-areas:"a1 a2 a3 a4"
                            "a5 a6 a7 a8"
                            "a9 a10 a11 a12 "
     }


}
