$coloresFondo: linear-gradient(to right, #fdf3f4 , #e0c7a1);
$coloresBotones: linear-gradient(to right, #0F2027 , #203A43,#2C5364);
$coloresBotonesHover: linear-gradient(to right,#2C5364, #203A43,#0F2027);
$coloresInputTextareaHover: linear-gradient(to right, white, #fdf3f4 , #e0c7a1);
$colorCol: #fdf3f4;