@import "variables";
@import "index";
@import "footer";
@import "header";
@import "contacto";
@import "catalogo";
@import "nosotros";
@import "taller";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.titulo {
    color: #484848;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    font-size: 65px;
    transition: .2s linear;
    &:hover{
        color: 484848;
        text-shadow: 0 0 20px white,
                     0 0 40px white;
        font-size: 70px;
        
    }
}

body {
    background-image: $coloresFondo;

    main {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        padding: 8rem 0.5rem 10rem 0.5rem;
        width: auto;
        align-items: center;

        #iconoWhatsapp {
            display: flex;
            position: fixed;
            width: 70px;
            height: 70px;
            right: 20px;
            bottom: 80px;
            margin: 10px;
            z-index: 2;
        }

        #iconoWhatsapp img:hover {
            transform: rotate(360deg);
            transition: 1s;
        }
    }
}

/*-------------- MEDIA QUERY --------------*/
/*CELULAR*/

@media only screen and (max-width:768px) {
    h1 {
        padding: 75px 50px 50px 50px;
    }

}

/*TABLET*/
@media only screen and (min-width:768px) {}

/*PC*/
@media only screen and (min-width:1024px) {
    h1 {
        padding: 50px;
    }

}